{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wypo/style.css' %}" />
<p><a href="/wypo/">&lt Powrót</a></p>

<form id="form1">
  <p>Zakres (YYYY-MM-DD HH:MM)</p>
  Od <input type="text" name="od"><br>
  Do <input type="text" name="do"><br>
  <input type="submit" value="Szukaj">
</form>

{% if od  and do %}
  <u>Od <b>{{od}}</b> do <b>{{do}}</b></u><br>
{% endif %}

{% for akt in historia %}
  <b>{{akt.kiedy}}&gt</b> {{akt.co}} ({{akt.jak}})<br>
{% endfor %}