{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wypo/style.css' %}" />
<p><a href="/wypo/">&lt Powrót</a></p>

{% if result == "SELF-RIP" %}
  Twoje konto zostało usunięte.
{% else %}
  {% if result == "OK" %}
    Hasło zostało zmienione!
  {% else%}
    <h2>Zmień hasło</h2>
    {% if result == "Fail" %}
      Problemy z hasłem.
    {% endif %}
    <form id="form1">
      <p>Stare hasło:</p>
      <input type="password" name="passwold">
      <p>Nowe hasło:</p>
      <input type="password" name="password">
      <p>Powtórz hasło:</p>
      <input type="password" name="password2"><br><br>
      
      <input type="submit" value="Zmień hasło">
    </form>
  {% endif %}

  <h2>Usuń konto</h2>
  <form id="form2">
    <input type="checkbox" name="usun1" value="OK">Usuń konto<br>
    <input type="submit" value="Usuń konto"><br>
    <input type="checkbox" name="usun2" value="OK">Usuń konto
  </form>

  {% if konto.rodzaj == "Admin" %}
    <h2>Usuń klienta</h2>
    {% if result == "RIP" %}
      Klient usunięty.
    {% else %}
      <form id="form3">
        <select name="ripklient" form="form3">
          {% for klient in klienci %}
            <option value="{{klient.id}}">{{klient.imie}} {{klient.nazwisko}}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Usuń klienta"><br>
      </form>
    {% endif %}
  {% endif %}
{% endif %}