{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wypo/style.css' %}" />
<p><a href="/wypo/">&lt Powrót</a></p>

{% for zaleglosc in zaleglosci %}
  <a href="/wypo/klient/{{zaleglosc.klient.id}}" name="{{zaleglosc.klient.id}}">{{zaleglosc.klient.imie}} {{zaleglosc.klient.nazwisko}}</a><br>
  {{zaleglosc.nosnik.id}}.{{zaleglosc.nosnik.rodzaj}} - {{zaleglosc.nosnik.film.tytul}} ({{zaleglosc.nosnik.film.rok}})<br>
  Zalega {{zaleglosc.days.days}} dni; Odsetki: {{zaleglosc.debt}} zł<br><br>
{% endfor %}