{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wypo/style.css' %}" />
<p><a href="/wypo/">&lt Powrót</a></p>

{% if result == "Fail" %}
  Niepełne dane.
{% elif result == "OK" %}
  Klient dodany pomyślnie!
{% endif %}

<h2>Dodaj klienta</h2>
<p>Dane osobowe</p>
<form id="form1">
  Imię:
  <input type="text" name="imie"><br>
  Nazwisko:
  <input type="text" name="nazwisko"><br>
  <p>Dane kontaktowe</p>
  Miejscowość:
  <input type="text" name="miejscowosc"><br>
  Ulica:
  <input type="text" name="ulica"><br>
  Numer domu:
  <input type="text" name="dom"><br>
  Numer mieszkania:
  <input type="text" name="mieszkanie"><br>
  Kod pocztowy:
  <input type="text" name="poczta"><br>
  Telefon:
  <input type="text" name="telefon"><br><br>
  <input type="submit" value="Dodaj klienta">
</form>