{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wypo/style.css' %}" />

<p><a href="/wypo/filmy/">&lt Powrót</a><br>
<h1>{{film.tytul}} ({{film.rok}})</h1>
<h2>Reżyseria: {{ film.rezyser }}</h2>
<p><i>{{film.opis}}</i></p>
{% if srednia %}
  <p>Ocena użytkowników: {{srednia}} ({{oceny}} ocen)</p>
{% else %}
  <p>Ten film nie był jeszcze oceniany.</p>
{% endif %}
{% if user %}
  <p>Twoja ocena:
  {% if ocena %}
    {% with ocena.all|first as ile %}
      {{ile.ile}}</p>
    {% endwith %}
  </p>{% else %}
    <form>
      <input type="radio" name="ocena" value="1" checked> 1
      <input type="radio" name="ocena" value="2"> 2
      <input type="radio" name="ocena" value="3"> 3
      <input type="radio" name="ocena" value="4"> 4
      <input type="radio" name="ocena" value="5"> 5<br>
      <input type="submit" value="Oceń">
    </form>
  {% endif %}
{% else %}
  <p>Zaloguj się, by ocenić.</p>
{% endif %}