{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wypo/style.css' %}" />
<p><a href="/wypo/">&lt Powrót</a><br>

{% if film_list %}
  <form id="form1">
    <p>Szukaj filmu</p>
    <input type="text" name="szukaj">
    <input type="submit" value="Szukaj">
  </form>
  
  <ul>
  {% for film in film_list %}
    <li><a href="/wypo/filmy/{{ film.id }}/">{{ film.tytul }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>Brak filmów.</p>
{% endif %}