{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wypo/style.css' %}" />

<h1>WYPOŻYCZALNIA FILMÓW</h1>

{% if uzytkownik %}
    <h3>Zalogowano jako {{uzytkownik}} ({{rodzaj}})<br>
    <a href = "/wypo/logout/">Wyloguj</a> &nbsp
    <a href = "/wypo/changepassword/">Zmień hasło lub usuń konto</h3></a>
    {% if rodzaj == "Klient" %}
      <p><a href = "/wypo/wypozyczenia/{{uzytkownik}}/">Moje wypożyczenia</p>
    {% else %}
      {% if rodzaj == "Admin" %}
        <p><a href = "/admin/">Panel administracyjny</p>
        <p><a href = "/wypo/aktywnosc/">Dziennik aktywności</p>
      {% endif %}
      <p><a href = "/wypo/dodaj/">Dodaj klienta</p>
      <p><a href = "/wypo/wypozycz/">Wypożycz film</p>
      <p><a href = "/wypo/oddaj/">Zwrot filmu</p>
      <p><a href = "/wypo/dluznicy/">Lista dłużników</p>
    {% endif %}
{% else %}
    <p>Niezalogowany.<br>
    <a href = "/wypo/login/">Zaloguj<br>
    <a href = "/wypo/signup/">Załóż konto</p>
{% endif %}
<p></p>
<p><a href = "/wypo/filmy/">Lista filmów</p>