{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wypo/style.css' %}" />
<p><a href="/wypo/">&lt Powrót</a></p>

<p>Dane klienta {{klient.imie}} {{klient.nazwisko}}</p>
<h3>Adres</h3>
{{klient.adres.miasto}}<br>
{{klient.adres.ulica}} {{klient.adres.numer_domu}}/{{klient.adres.numer_mieszkania}}<br>
{{klient.adres.kod_pocztowy}} {{klient.adres.miasto}}<br>

{% if klient.telefon %}
  <h3>Telefon</h3>
  {{klient.telefon}}<br>
{% endif %}

{% if klient.konto %}
  <h3>Konto</h3>
  {{klient.konto.login}}<br>
  {{klient.konto.email}}<br>
{% endif %}