{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wypo/style.css' %}" />

<p><a href="/wypo/">&lt Powrót</a></p>
{% if login %}
  {% with login.all|first as name %}
    Zalogowano pomyślnie jako {{name.login}}!
  {% endwith %}
{% else %}
  {% if failed %}
    Błędny login lub hasło! Spróbuj ponownie:
  {% else %}
    Zaloguj się:
  {% endif %}
  <form>
    Login:<br>
    <input type="text" name="login"><br>
    Hasło:<br>
    <input type="password" name="pass">
    <br><br>
    <input type="submit" value="Zaloguj">
  </form>
{% endif %}