{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wypo/style.css' %}" />
<p><a href="/wypo/">&lt Powrót</a></p>

{% if result == "OK" %}
  Konto utworzone poprawnie! Możesz się teraz zalogować.
{% else%}
  {% if result == "Fail" %}
    Dane niepoprawne albo konto istnieje.
  {% endif %}
  <form id="onlyform">
    <p>Login:</p>
    <input type="text" name="login"><br>
    <p>Hasło:</p>
    <input type="password" name="password"><br>
    <p>Powtórz hasło:</p>
    <input type="password" name="password2"><br>
    <p>E-mail:</p>
    <input type="text" name="e-mail"><br>

  <p>Klient:</p>
  <select name="klient" form="onlyform">
    {% for klient in klienci %}
      <option value="{{klient.id}}">{{klient.imie}} {{klient.nazwisko}}</option>
    {% endfor %}
  </select>
  <br><br><br><br><br><br>

    <input type="submit" value="Załóż konto">
  </form>
{% endif %}