{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wypo/style.css' %}" />
<p><a href="/wypo/">&lt Powrót</a></p>

<p>Wybierz klienta:</p>

<select name="klient" form="onlyform">
  {% for klient in klienci %}
    <option value="{{klient.id}}">{{klient.imie}} {{klient.nazwisko}}</option>
  {% endfor %}
</select>

<p>Wybierz film:</p>

<select name="nosnik" form="onlyform">
  {% for nosnik in nosniki %}
    <option value="{{nosnik.id}}">{{nosnik.id}}.{{nosnik.rodzaj}} - {{nosnik.film.tytul}} ({{nosnik.film.rok}})</option>
  {% endfor %}
</select>
<br><br><br><br><br><br>

<form id="onlyform">
  <input type="submit" value="Wypożycz">
</form>