{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wypo/style.css' %}" />

<p><a href="/wypo/">&lt Powrót</a><br>
{% if wypozyczenia %}
	<p>Twoje wypożyczenia:</p>
	<ul>
	{% for wypo in wypozyczenia %}
		<p><a href="/wypo/filmy/{{wypo.id_film}}/">{{wypo.tytul}}</a><br>Wypożyczono: {{wypo.kiedy}}<br>
		{% if wypo.dni %}
			<font color="red">Zalegasz z oddaniem tego filmu od {{wypo.dni}} dni.<br></font>
		{% endif %}
		{% if wypo.ile %}
			Twoja ocena: {{wypo.ile}}
		{% else %}
			Nie oceniałeś tego filmu.
		{% endif %}
		</p>
	{% endfor %}
	</ul>
{% else %}
	<p>Brak wypożyczeń. Wypożycz coś!</p>
{% endif %}