{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'wypo/style.css' %}" />
<p><a href="/wypo/">&lt Powrót</a></p>

<form id="form1">
  <p>Szukaj klienta</p>
  <input type="text" name="szukaj">
  <input type="submit" value="Szukaj">
</form>
  
{% for wypo in wypozyczenia %}
  <h2>{{wypo.klient.imie}} {{wypo.klient.nazwisko}}</h2>
  <h3>{{wypo.nosnik.id}}.{{wypo.nosnik.rodzaj}} - {{wypo.nosnik.film.tytul}} ({{wypo.nosnik.film.rok}})</h3>
  {{wypo.kiedy}}
  {% if wypo.id in zaleglosci %}
    <a href="/wypo/dluznicy/#{{wypo.klient.id}}"><b><font color="red">OPÓŹNIENIE</font></b></a>
  {% endif %}
  <form id="onlyform">
  <button type="submit" name="zwrot" value="{{wypo.id}}">Zwrócone</button>
  </form>
  <br><br>
{% endfor %}